<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .box {
            border: 1px solid black;
            padding: 8px;
            margin: 10px;
            width: fit-content;
        }
    </style>
</head>

<body>
    <a href="/user/new">Add a User</a>

    <div class="container">
        <!--  we can use javascript in ejs -->
        <% for(let user of Users){%>
            <div class="box">
                <p>
                    <%= user.name %>
                </p>
                <p>
                    <%= user.email %>
                </p>
                <p>
                    <%= user.age %>
                </p>
            </div>

            <% } %>
    </div>
</body>

</html>